<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/product.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


    <style>
      ul.dropdown-menu {
      background-color: #000;
      }
    </style>


</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <!-- Header -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
	<span class="icon-bar"></span>
      </button>
	<a class="navbar-brand" href="{% url 'product:product_list' %}" style="font-size:20pt;">Product</a>
    </div>


<!-- Products -->
<div class="collapse navbar-collapse" id="topNavBar">

  <ul class="nav navbar-nav navbar-right">
     <li>
      <a href="{% url 'product:product_save' %}">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Product
      </a>
    </li>
    <li class="dropdown" style="right:10px;">
	 <a href="#" class="glyphicon glyphicon-user dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-hidden="true"><span class="caret"></span></a>
    <ul class="dropdown-menu" role="menu" backgound-color="black">
       <center><b><li style="color:white;font-size:14px;"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;{{request.user}}</li>&nbsp;
	 <li style="font-size:14px;"><a href="{% url 'product:logout' %}" class="logout" style="color:#FFFFFF" >
	   <span class="glyphicon glyphicon-off" aria-hidden="false"></span>&nbsp;Logout
	   </span></a></li>
       <b></center>
    </ul>
    </li>

  </ul>
</div>
</div>
</nav>
{% block body %}
{% endblock %}

</body>
</html>
