{% extends 'product/base.html' %}

{% block body %}
<div class="albums-container container-fluid">
  <div class="row">
  {% if product %}
     {% for products in product %}
    <div class="col-sm-4 col-lg-2">
      <div class="thumbnail" >
	<a href="{% url 'product:product_detail' products.id %}">
	  <img src="{{ products.photo.url }}" style="width:300px;height:300px" >
	</a>
	<div class="caption">
	  <h2>{{ products.pname }}</h2>


	  <!-- View Details -->
	  <a href="{% url 'product:product_detail' products.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>
	</div>
      </div>
    </div>
    {% endfor  %}
{% else %}
  <h3>You Don't have any Product</h3>
  {% endif %}
  </div>
  </div>
{% endblock  %}
