<html>
  <head>
    <title>Signup</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>


  </head>

  <body>

	  <nav class="navbar navbar-inverse">
			<div class="container-fluid">
			    <div class="navbar-header">

				<center><a class="navbar-brand" href="">User-Registration</a><center>
			    </div>

			</div>
	   </nav>






    <div  class="well">
	<center>
 <form class="form-horizontal" role="form" action="" method="post">
	  <table cellspacing = "10" cellpadding="0">
	    <tr>
	      <td align="center" colspan="2">  <h1 style= "margin-top: 2cm">Registration</h1></td>
	    </tr>

	       {% csrf_token %}





				    {{ user_form.as_table }}


		</tr>


		<tr>
		    <td>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

		    </td>
		</tr>


	    <tr>
	      <td align="center" colspan = "2">
		   <input type="submit"  class="btn btn-success" name ="submit" value="Register">
	      </td>
	    </tr>
	  </table>

      </form>
	</center>
    </div>
  </body>
</html>
