<html>
  <head>


    <title>Signup</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
     

  </head>

  <body style="background-color:#E0FFFF;">
    
    
    <form style="align:center;" id ="reg_form" method="POST" action="">
      {% csrf_token %}

      <table cellspacing = "5" cellpadding = "5">
	  <tr>
	    <td>Username:</td>
	    <td><input type="text" name="username" value="" class="form-control"></td>
	    <td style="color:red;">{{user_form.username.errors}}</td>
	  </tr>

	  <tr>
	    <td>
	      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	    </td>
	  </tr>


	  <tr>
	    <td>Password:</td>
	    <td><input type="password" name="password" value="" class="form-control"></td>
	    <td style="color:red;">{{user_form.password.errors}}</td>
	  </tr>

	  <tr>
	    <td>
	      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	    </td>
	  </tr>


	  <tr>
	    <td>Confirm password:</td>
	    <td><input type="password" name="confirm_password" value="" class="form-control"></td>
	    <td style="color:red;">{{user_form.non_field_errors}}{{user_form.confirm_password.errors}}</td>
	  </tr>

	  <tr>
	    <td>
	      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	    </td>
	  </tr>



	  <tr>
	    <td colspan="2" align="center"><input type="submit"  name="submit" value="submit" class="btn btn-primary" ></td>
	  </tr>
      </table>
    </form>

      
  </body>
</html>
